<h1>Made possible by Hosts</h1>
<div class="container">
<div class="card-container">
  <div class="cards d-flex flex-row">
    <div class="card-category"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1592932777106-4a84a796d7d8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=980&q=80)"  >
      <%= link_to "See Fans", fans_path, class: 'btn btn-gradient-new' %>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1532726966163-97b405bccf30?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)">
      <%= link_to "Create Fan", new_fan_path, class: 'btn btn-gradient-new' %>
    </div>


    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1565151443833-29bf2ba5dd8d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=975&q=80)">
      <%= link_to "My requests", outgoing_bookings_path, class: 'btn btn-gradient-new'  %>
    </div>
  </div>
</div>
</div>

