
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1510753825673-db997abad99e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=935&q=80);">
  <div class="container text-center p-3">
    <h1> <strong>Book Fans around you</strong> <strong>it's hot and it's Fantastic</strong>!</h1>
    <p>Change your life and live a fresh life.</p>
    <%= link_to "See fans", fans_path, class: "btn btn-flat"  %>
  </div>
</div>

<div class="container text-center p-3">

<%= render 'partials/cards' %>


</div>
<hr>
<div class="banner-bottom text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1520116468816-95b69f847357?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);">
  <div class="container">
    <h1>Your world is
worth sharing</h1>
    <p>Turn your extra Fan into your next opportunity.</p>
        <%= link_to "Join now", new_user_session_path, class: "btn btn-flat"  %>

  </div>
</div>

<hr>

