<div class="container">
  <h1><%= @fans.name %></h1>
  <%= link_to "Back to all fans", root_path %>
  <br>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>


  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3>Fans</h3>
      <table class="table table-bordered">
        <tbody>
          <thead>
            <th>Description</th>
            <th>Price</th>
          </thead>
        </tbody>
      </table>
    </div>
  </div>

</div>
