.container-grid {
<<<<<<< HEAD
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
=======
  margin: 0 -100px;
  display: flex;
  // grid-template-columns: 1fr 1fr 1fr;
>>>>>>> 17e6402c83d3915059b91fd8bf30cdc15bdf524e
  margin-bottom: 30px;
  // grid-gap: 30px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-product-index {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 30px;
  border-radius: 16px;
  width: 400px;
}

.card-product-index img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-index p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-index .card-product-infos-index {
  padding: 16px;
}
