.form-card {
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid 1px #d9dae0;
  padding: 40px;
  border-radius: 20px;
}

.form-card-booking {
  margin: 20px auto;
  box-shadow: 0 2px 15px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 20px;
  width: 70%;
}

.form-control {
  border-radius: 20px;
  
}