.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin: 20px 50px;
  border-radius: 41px;
  box-shadow: 0 1px 15px rgba(0,0,0,0.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
