.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin: 30px 50px;
  border-radius: 40px;
  // box-shadow: 0 1px 15px rgba(0,0,0,0.2);
}

.navbar-lewagon:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 1, 0.192);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

hr {
  width: 50%;
  margin-bottom: 30px;
}